#ignore everything
*
#but matlab files
!*.m
!.gitignore
!*/


#ignore all vfeat files
vfeat/*
assignment1/*
!assignment1/exports/*


#ignore data files
assignment1data/
assignment2data/
assignment3data/
